.logo-text {
    margin: 3em 0 1em 0;
    text-align: center;
    font-weight: bold;
    color:#048271;
    font-size: 2.5em;
}

.form-container {
   display: flex;
    flex-direction: column;
    width: 792px;
    height: 430px;
    padding: 60px;
    background-color: #9FCBC9;
    border-radius: 12px;
    justify-content: space-between;
    margin: 1rem auto;
}

.form-text h2 {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: white;
}

.section {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;    
}

.section:nth-child(4) {
    color: var(--dark--gray--color);
}
