.form-container {
    justify-content: space-between;
    width: 792px;
    height: 430px;
    padding: 60px;
}
.setting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setting-container:nth-child(1) {
    height: 50px;
}
.setting-box-ment {
    color: #ffffff;
    background-color: var(--light--green--color);
    font-size: 24px;
    font-weight: bold;
}
.setting-box-password {
    background-color: #F2F3F7;
    border: 2px solid var(--main--green--color);
    border-radius: 5px;
    width: 340px;
    height: 50px;
    font-size: 20px;
}
.setting-box-password::placeholder {
    color: #D5D5D5;
    font-size: 20px;
    font-family: Pretendard;
}
#accout-delete-btn {
    width: 165px;
    height: 50px;
    background-color: var(--main--green--color);
    color: #ffffff;
    font-size: 24px;
    border-radius: 10px;
    margin: 0 0 0 auto;
    line-height: 40px;
    font-weight: bold;
}
.setting-toggle-container {
    width: 145px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid var(--main--green--color);
    cursor: pointer;
    position: relative;
}
.on .setting-toggle-btn {
    background-color: var(--main--green--color);
    color: #ffffff;
}
.setting-toggle-btn {
    width: 87.4px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid var(--main--green--color);
    color: var(--main--green--color);
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    position: absolute;
    top: -2px;
    right: -2px;
}

.setting-box-password-container {
    position: relative;
}
.correct-message,
.error-message {
    font-size: 14px;
    position: absolute;
    top: 100%;
    left: 5px;
    margin-top: 7px;
    display: none;
}
.correct-message {
    color: var(--main--green--color);
}
.error-message {
    color: #C70000;
}
#password-alert {
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.4) 1.95px 1.95px 2.6px;
    display: none;
}
.password-alert-header {
    height: 25px;
    background-color: var(--main--green--color);
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    padding-left: 10px;
    border-radius: 8px 8px 0 0;
}
.password-alert-content {
    height: 125px;
    display: flex;
    justify-content: center;
    line-height: 100px;
    position: relative;
}
.password-alert-content > p {
    font-size: 15px;
    font-weight: bold;
}
#password-alert-btn {
    background-color: var(--main--green--color);
    width: 70px;
    height: 30px;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    bottom: 12px;
    right: 20px;
}
.back-icon-btn {
    position: absolute;
    left: 65px;
    top: 120px;
}

.correct-message,
.error-message {
    font-size: 14px;
    position: absolute;
    top: 100%;
    left: 5px;
    margin-top: 7px;
    display: none;
}
.correct-message {
    color: var(--main--green--color);
}
.error-message {
    color: #C70000;
}